* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #0c3386;
}

header {
    background: #fff;
    padding: 30px;
    font-size: 0;
    text-align: center;
}

header h2 {
    display: inline-block;
    font-size: 30pt;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header img {
    float: right;
    margin: 10px 0;
}

header img:hover {
    cursor: pointer;
}

#main {
    padding: 50px;
    text-align: center;
}

p {
    font-size: 13pt;
    letter-spacing: .7px;
}

p, h5, button {
    color: #fff;
}

#main > p, button {
    margin: 0 0 20px;
}

p span {
    font-weight: 800;
    text-transform: uppercase;
}

button {
    border: 2px solid #fff;
    background: #0c3386;
    padding: 10px;
    font-size: 10pt;
    font-weight: 800;
    border-radius: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background: #fff;
    transition: all 0.3s ease-in-out;
    color: #000;
}

#box-score {
    border: 3px solid #fff;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto 10px;
    padding: 10px;
}

#box-score h5 {
    display: inline;
    font-size: 20pt;
    margin: 0 13px;
}

#playground {
    padding: 0 200px;
}

#playground img {
    border: 5px solid #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
}

#playground img:hover {
    cursor: pointer;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.win{
	border: 6px solid #4dcc7d;
	box-shadow: 0 0 10px #31b43a;
}

.lose{
	border: 6px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.draw{
	border: 6px solid #464647;
    box-shadow: 0 0 10px #25292b;
}

@media (max-width: 1182px) {
	#playground {
        padding: 0 100px;
    }
}

@media (max-width: 982px) {
	#playground {
        padding: 0 50px;
    }
}

@media (max-width: 982px) {
	#playground img {
        display: block;
        margin: 30px auto;
        width: 45%;
    }
}

@media (max-width: 642px) {
    header h2 {
        font-size: 20pt;
    }

    header img {
        margin: 5px 0;
    }
}

@media (max-width: 582px) {
    p {
        font-size: 10pt;
    }

    button {
        font-size: 7pt;
    }

    #box-score {
        width: 250px;
    }

    #box-score h5 {
        font-size: 15pt;
    }
}

@media (max-width: 470px) {
	header h2 {
        font-size: 15pt;
    }

    header img {
        margin: 0;
    }
}

@media (max-width: 400px) {
    header {
        padding: 30px 0 10px;
    }

	header h2, header img {
        display: block;
    }

    header img {
        float: none;
        margin: 10px auto 0;
    }
}